<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Drive_By</title>
  </head>
  <body>
    <p>Hello <%= user %> </p>
    <% if (user === 'Stranger') {%>
      <a href='/driverlogin'>Login as driver</a>
      <a href='/riderlogin'>Login as rider</a>
      <a href='/signupdriver'>Sign up as driver</a>
      <a href='/signuprider'>Sign up as rider</a>
    <% } %>
    <% if(user !== 'Stranger') {%>
      <p>There's not much here, but hopefully you will enjoy these emojis: 🤑😎🌚</p>
      <a href='/logout'>Logout</a>
 <% } %>
  </body>
</html>
